/* Document-----------------------*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    font-size: 16px;
}
a, p, span, li, h1, h2, h3, h4{
    text-decoration: none;
    list-style: none;
    color: white;
}

/* Header-----------------------*/
header{
    max-height: 300px;
    max-width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    flex: 1 1 auto;
    margin: 0 auto;
    border: 3px solid red;
    border-radius: 5px;
}

.navigation_list{
    display: flex;
    align-items: center;
}
.navigation_item{
    font-size: 2em;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    margin: 0 20px
}
.header_logo{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
/* main-----------------------*/
main{
    max-width: 75%;
    margin: 15px auto;
    margin-top: 15px;
    border: 3px solid red;
    border-radius: 5px;
}
.carInfo{
    padding: 15px;
}
.car_history, .car_models, .car_reviews{
    border: 3px solid red;
    border-radius: 10px;
    padding: 20px;
}

.car_logo-title-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 3px solid white;
}
.car_logo-title{
    display: flex;
    align-items: center;
    gap: 20px;
}
.car_logo{
    background-color: white;
    max-width: 75px;
    max-height: 75px;
    padding: 15px;
    border-radius: 25%;
}
.car_titleh1{
    font-size: 2.5em;
    padding: 15px 0;
    max-width: 75%;
    text-align: center;
    border: 3px solid red;
    border-radius: 5px;
    margin: 15px auto;
}
.car_titleh2{
    font-size: 2em;
}
.car_titleh3{
    font-size: 1.5em;
    border-bottom: 3px solid white;
    padding-left: 15px;
    margin-bottom: 15px;
}
.car_titleh4{
    font-size: 1.2em;
    text-decoration: underline solid 3px;
    padding-left: 15px;
}
.car_text{
    font-size: 1.1em;
    padding: 15px;
}
/* footer-----------------------*/
footer{
    max-height: 400px;
    max-width: 75%;
    margin: 0 auto;
    border: 3px solid red;
    border-radius: 5px;
}
.footer_title{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 3px solid white;
    max-width: 50%;
    margin: 0 auto;
}
.footer_body{
    display: flex;
    margin: 15px;
}
.footer_block{
    flex-basis: 33.3333%;
    background-color: rgb(153, 0, 0);
    border-radius: 5px;
    height: 150px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer_text{
    font-size: 1.1em;
}