/* form-----------------------*/
form{
    width: 40%;
    margin: 0 auto;
}
fieldset{
    border: 3px solid #399cdd;
    margin: 15px 0 15px 15px;
}
legend{
    font-size: 1.1em;
    margin-left: 20px;
    color: #464242;
}
form *{
    color: #464242;
    font-size: 1.1em;
    margin: 5px;
}
p.gender{
   margin-left: 100px;
}
label{
    vertical-align: top;
}
.button{
    cursor: pointer;
    background-color: #399cdd;
    border-radius: 5px;
    padding: 5px;
}